<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원수정</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
</head>
<body>



<h1>update</h1>

<div class="join">
    <div class="join-con">
        <div class="join-form">
            <form th:action="@{/member/user/update}" method="post" >
                <ul>
                    <li class="s1">회원수정</li>
                    
                    <li class="s2">
                        <input type="text" name="email" id="email" th:value="${list.email}" readonly >
                        <input type="hidden" name="id" id="id" th:value="${list.id}" readonly >

                    </li>

                    <li class="s2">
                        <input type="password" name="password" id="password" placeholder="변경 할 암호 입력" >

                    </li>

                    <li class="s3">
                        <input type="submit" value="수정하기" class="s3sub">
                        <a th:href="@{/}" class="s3sub">HOME</a>
                    </li>
                </ul>
            </form>
            <div class="oauth">
                <a th:href="@{/oauth2/authorization/google}">google</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>