<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="main">
        <div class="main-con">
            <div class="section">
                <div class="section sec1">
                    section1
                </div>
                <div class="section sec2">
                    section2
                </div>  
                <div class="section sec3">
                    section3
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>





</body>
</html>